/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    background: #ffffff;
}

h1,
h2,
h3,
h4,
p {
    color: #424242;
}

h1 {
    font-size: 52px;
    font-weight: 100;
    line-height: 44px;
}

h2 {
    font-size: 34px;
    font-weight: 300;
}

h3 {
    font-size: 16px;
    font-weight: 700;
}

h4 {
    font-size: 12px;
    font-family: 'Georgia', serif;
    font-style: italic;
    font-weight: 300;
}

p {
    font-size: 18px;
    line-height: 24px;
}

a {
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
}

.button {
    background: #1897d6;
    color: #fdfdfd;
    display: inline-block;
    font-size: 18px;
    letter-spacing: 3px;
    padding: 22px 62px;
}

.container {
    max-width: 1024px;
    margin: 0 auto;
    width: 90%;
}

.row {
    display: block;
}

.column {
    float: left;
    width: 25%;
}

.center {
    text-align: center;
}

/* header styles */

header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99;
}

header .main {
    background: rgba(20, 20, 20, 0.9);
    padding: 24px 30px;
}

header .main .logo {
    float: left;
}

header .main .logo img {
    width: 52px;
}

header .main .main-nav {
    float: right;
    margin-right: -8px;
}

header .main .main-nav a {
    color: #fdfdfd;
    display: inline-block;
    font-size: 13px;
    letter-spacing: 1px;
    padding: 2px 8px;
    vertical-align: middle;
}

header .main .main-nav a img {
    vertical-align: middle;
    margin-top: -3px;
}

header .sub {
    background: rgba(253, 253, 253, 0.8);
    border-bottom: 1px solid #cecece;
    padding: 20px 30px;
}

header .sub .title {
    color: #424242;
    float: left;
    font-size: 18px;
}

header .sub .sub-nav {
    float: right;
}

header .sub .sub-nav a {
    color: #929292;
    display: inline-block;
    font-size: 12px;
    font-weight: 300;
    padding: 5px 13px;
}

header .sub .sub-nav a:hover {
    text-decoration: underline;
}

header .sub .sub-nav a.active {
    color: #424242;
    font-weight: 700;
    text-decoration: underline;
}

header .sub .search {
    float: right;
}

header .sub .search img {
    display: inline-block;
    height: 26px;
}

/* hero styles */
.hero {
    background: url('../img/hero.jpg') no-repeat center bottom;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 600px;
    padding-top: 138px;
    position: relative;
}

.hero .content {
    position: absolute;
    top: 60%;
    transform: translateY(-30%);
    text-shadow: 2px 2px 40px #000000, -52px 8px 40px #000000,
        12px 12px 40px #000000;
}

.hero .content h1 {
    color: #fdfdfd;
    margin: 0;
    text-transform: uppercase;
}

.hero .content p {
    color: #fdfdfd;
    max-width: 436px;
}

/* weight-loss styles */

.weight-loss {
    margin-bottom: 74px;
}

.weight-loss h2 {
    margin-top: 44px;
}

.weight-loss p {
    max-width: 736px;
    margin: 32px auto 44px auto;
}

.weight-loss .row + .row {
    padding-top: 44px;
}

.programs figure {
    margin: 0;
}

.programs figure img {
    max-width: 100%;
}

.programs h3 {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 0;
    width: 100%;
}

.programs h4 {
    color: #929292;
    margin-top: 0;
}

/* quote styles */
.quote {
    background: #1e1e1e;
    padding: 60px 0;
    position: relative;
}

.quote .icon,
.quote .slider {
    display: table-cell;
    padding: 0 14px;
}

.quote .icon img {
    width: 94px;
}

.quote .slider .content p {
    color: #ffffff;
}

.quote .slider .content .quotee {
    color: #1897d3;
    font-family: 'Georgia', serif;
    font-style: italic;
    margin-top: 40px;
    float: right;
}

.quote .controls {
    position: absolute;
    bottom: 20px;
    width: 100%;
}

.quote .controls span {
    display: inline-block;
    border: 1px solid #1898d7;
    border-radius: 50%;
    height: 6px;
    width: 6px;
}

.quote .controls span.active {
    background: #1898d7;
}

/* call-to-action styles */
.call-to-action {
    padding: 38px 0;
}
.call-to-action .button-container,
.call-to-action h2 {
    display: table-cell;
    padding: 0 20px;
}

/* footer styles */
footer {
    background: #141414;
    padding: 21px 30px;
}

footer .footer-left {
    float: left;
}

footer .footer-right {
    float: right;
}

.footer-nav,
footer .social {
    float: left;
}

.footer-nav a {
    color: #747575;
    font-size: 10px;
    font-weight: 700;
}

.footer-nav a + a:before {
    content: '/';
    padding: 0 6px 0 2px;
}

footer .social {
    margin-left: 30px;
}

footer .social a {
    padding: 4px;
}

footer .social a + a {
    margin-left: 8px;
}

.footer-right span {
    color: #747575;
    display: inline-block;
    font-size: 10px;
}

.footer-right form {
    display: inline-block;
    margin-left: 14px;
}

.footer-right form label {
    color: #747575;
    font-size: 10px;
    font-weight: 700;
    text-transform: uppercase;
}

.footer-right form select {
    background: none;
    border: none;
    color: #747575;
    font-size: 10px;
    font-weight: 700;
    text-transform: uppercase;
}

.footer-right form select:focus {
    outline: none;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
    (-webkit-min-device-pixel-ratio: 1.25),
    (min-resolution: 1.25dppx),
    (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
